{% extends 'admin_dashboard.html' %}

{% block main_content %}
<div class="main-content">
    <div class="header">Edit Student: {{ student.firstName }} {{ student.lastName }} ({{ student.studentNumber }})</div>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% include 'form_template.html' with form=form %}
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{% url 'manage-students' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}